
@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* { font-family: 'SpoqaHanSansNeo-Regular';}


* {
  margin: 0;
  padding: 0;
}

::selection {
    background-color: #c4c4c4;
    color: white;
  }



.header {
  position: fixed;
  width: 95%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
  height: 100px;
}


  .logo {
    display: block;
    padding: 26px 0px;
    width: 223px;
  }


    a{
      font-family: 'Nanum Gothic Coding', monospace;
      letter-spacing: 0px;
      font-size: 27px;
      line-height: inherit;
      text-decoration: none; 
      font-weight: bold;
      font-style: normal;
      color: #212121;
    }


  .nav{
    display: flex;
    padding: 26px 0px;
    visibility: visible;
    margin: 120px;
    margin-left: 60px;
    margin-top: 108px;
  }

      .navitem {
      margin : 0px 12px;
      font-size: 15px;
      font-weight: lighter;
    }

    .intro{
      color: #606060;
      font-size: 13px;
      vertical-align: middle;
      display: inline-block;
      line-height: 1;background-color: #FFFFFF;
      margin: 0px 0px 0px 5px;
      padding: 6px 26px;
      vertical-align: initial;
      box-sizing: border-box;
      border:1px solid #808080 ;
      text-align: right;
    }

    .intro:hover{
      background-color: #2C44AA;
      color: #FFFFFF;
      transition: 0.3s;
      cursor: pointer;
    }
.main{padding-top: 100px;}

  .video{height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  #videoIFrame{width: 100vw;
  height: 100vw;
  }

  .introduce{
    display: block;
    margin: 50px;
    padding: 12px;
    padding-top: 0px; 
  }

    h6{font-size: 26px;
    padding:0px 12px;
    margin:30px 0px;
    text-align: center;
    font-weight: 800;
    }


  .blue-box{display: flex;
  justify-content: center
  }

    .principle {
      
      background-color: #2C44AA;

      background-size: cover;

      color: white;

      min-height: 0px;

      padding: 24px 24px 24px 24px;

      word-break: normal;

      word-wrap: break-word;

      flex-basis: 300px;

      line-height: 23px;
        

    }

    .curriculum {
      background-color: #001255;

      background-size: cover;

      color: white;

      min-height: 0px;

      padding: 24px 24px 24px 24px;

      word-break: normal;
      
      word-wrap: break-word;

      flex-basis: 300px;

      line-height: 23px;
    
    }

    .schoollife {
      background-color: #2C44AA;

      background-size: cover;

      color: white;
      
      min-height: 0px;

      padding: 24px 24px 24px 24px;

      word-break: normal;
      
      word-wrap: break-word;

      flex-basis: 300px;

      line-height: 23px;
    }

    .strong{font-size: 16px;
    }

    p{font-size: 14px;}

    .Details{font-size: 12px;
    font-weight: bolder;
    }



  .explanation{padding: 0px 12px;
  line-height: 23px;}


  .p{font-size: 14px;
  -webkit-tap-highlight-color:  #404040;
  padding: 0px 12px;
  font-weight: lighter;
  }


    
